.header-block {
    display: flex;
    justify-content: space-between;
    padding: 45px 0;
}

.header-navigation {
    display: flex;
    gap: 27px;
}

.header-logo {
    cursor: pointer;
}

.header-theme {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background: var(--background);
    box-shadow: 0px 4px 20px 0px rgba(51, 48, 228, 0.5);
    padding: 6px 10px;
    cursor: pointer;
    [data-theme="dark"] & {
        border: 1px solid rgba(51, 48, 228, 0.5);
    }
}

.header-login {
    border-radius: 30px;
    background: #fff;
    box-shadow: 0px 4px 20px 0px rgba(51, 48, 228, 0.5);
    padding: 7px 19px;
    cursor: pointer;

    color: #ff7a09;
    text-align: center;
    font-family: Geometria;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
